.caixa_formulario {
    background-color: white;
    width: 400px;
    height: 300px;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario button {
    margin-top: 10px;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 120px;
    align-self: center;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid blue;
    border-radius:  10px;
}
